*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body {
    font-size: 15pt;
    background: yellow;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
}
.size0{
    background: #F4E0C7;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 720px;
}
.size{
    background: linear-gradient(90deg,#F4E0C7 60%,rgba(0,0,0,0)110%),url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1280px;
    height: 720px;
    z-index: -1;
   
}

.ingga{
    font-family: 'OCR A Std', monospace;
    font-size: 20px;
    color: black;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 700;
}
.a{
    display: flex;
    column-gap: 0px;
    margin-top: 30px;
}
.b{
    background-color: saddlebrown;
    font-weight: 1200;
    height: 90px;
    width: 35px;
    margin-left: 30px;
    margin-right: 0px;
}
.ngga{
   font-family:  "Verdana", sans-serif;
    font-size: 37px;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 480px;
    margin-top: 30px;
    color: saddlebrown;
    text-align: center;
transform: translateX(0px)
}

.wadafaq{
    transform: translateX(47px);
    margin-top: 8px;
    font-size: 1.3rem;
}
.ohio{
  margin-left: 10px;
    margin-right: 450px;
    font-family: "Didot", serif;
    border-color: 3px black;
    box-shadow: 3px black ;
    font-size: 1.1rem;
}
.du{
    margin-top: 20px;
    font-size: 1.3rem;
    margin-left: 50px;
    line-height: 35px;
}
ul{
    margin-left: 20px;
}
.size2{
    background-size: cover;
    
    width: 1280px;
    position: relative;
    height: 720px;
    background: linear-gradient(180deg,#F4E0C7 10%,rgba(0,0,0,0)110%),url(bg2.jpg);
   background-size: cover;
    background-repeat: no-repeat;
}
.ngga2{
 font-family:  "Verdana", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: saddlebrown;
    text-align: center;
}
.ngg{
    font-family:  "Verdana", sans-serif;
    font-size: 27px;
    font-weight: 600;
    margin-left: 60px;
    margin-right: 10px;
    margin-top: 20px;
    color: saddlebrown;
}
.aa{
    display: flex;
    column-gap: 60px;
    
    margin-top: 30px;
    justify-content: center;
}
.au{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    border-right: 10px ridge  #F4EFEA ;
    border-bottom: 10px ridge #F4EFEA;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 0 0 3px #F4EFEA;
    background: rgba(244, 224, 199, 0.8);
    
    
}
.uthun{
    font-family: "Didot", serif;
    width: 340px;
    height: 250px;
    background-position-y: -170px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: 0px;
    background-image: url(uthun.jpg);
    align-items: flex-end;
    align-content: flex-end;
    font-size: 5rem;
    text-align: left;
    text-align: left;
    color: white;
    text-shadow: 1px 1px 3px black;
}


.bold{
    display: flex;
    font-family: 'League Gothic', sans-serif;
    color: saddlebrown;
    font-size: 1.4rem;
    margin-top: 0px;
    padding-top: 15px;
    margin-bottom: 16px;
    justify-content: flex-end;
    text-align: left;
    padding-left: 20px;
    flex-direction: column;
    

    font-weight: 800;
    background: linear-gradient(#E9CDB3,rgba(0,0,0,0));
    width: 340px;
}
.aangan{
    margin-left: 38px;
    font-family: "Didot", serif;
    font-size: 1.2rem;
    width: 270px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 25px;
     
}
#img2{
    background-image: url(deoal.jpg);
    
}
#img3{
    background-image: url(gothon.jpg);
    background-position-y: -30px;
    background-position-x: -20px;
    
}
#img4{
    background-image: url(badgir.jpg);
    background-position-y: -30px;
    background-position-x: -200px;
}
#img5{
    background-image: url(unnamed.png);
    background-position-x: -150px;
}
#img6{
    background-image: url(IMG_7748.png);
    background-repeat: no-repeat;
    background-position-y: 0px;
}
#bW{
    height: 55px;
}
#img7{
    background-image: url(water.jpg);
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -130px;
}
#img8{
    background-image: url(fountain.jpg);
    background-repeat: no-repeat;
    background-position-y: -0px;
    background-position-x: -0px;
}
#img9{
    background-image: url(81FA2lWzoTL._AC_AIweblab1006854,T4_FMavif_SF700,700-2x,TopRight,-10,10_PQ69_.jpg);
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -130px;
}
#img10{
  background-image: url(Screenshot_20251201-220457_Google.jpg);
    background-repeat: no-repeat;
    background-position-y: -70px;
    background-position-x: -280px;  
}
#img11{
    background-image: url(red-500x500.jpg);
    background-repeat: no-repeat;
    background-position-y: -70px;
    background-position-x: -80px;  

}
#img12{
background-image: url(Rajasthan-Deeppura-Garh-fort-architecture-photos-1-2.webp);
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: -0px;  
}
#img13{
background-image: url(Blog-Images-01-2-768x362.jpg);
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-position-x: -120px;  
}
#img14{
background-image: url(7_rocky.jpg);
    background-repeat: no-repeat;
    background-position-y: -600px;
    background-position-x: -400px;  

}
.next{
    column-gap: 120px;
    justify-content: center;
}
.size3{
  background-size: cover;
    width: 1280px;
    position: relative;
    height: 720px;
    background: linear-gradient(180deg,#F4E0C7 30%,rgba(0,0,0,0)180%),url(10_The.jpg);
   background-size: cover;
    background-repeat: no-repeat;  
}
.t{
    margin-left: 550px;
    margin-top: 100px;
    display: flex;
    width: 700px;
    flex-wrap: wrap;
z-index: 2;
position: absolute;
transform: translateY(-720px);
}
.i{
    display: flex;
    background-color: saddlebrown;
    font-weight: 1200;
    height: 140px;
    width: 35px;
}
.f{
    position: relative;
    font-size: 80px;
    margin-left: 10px;
    font-family:  "Verdana", sans-serif;
    font-size: 37px;
    font-weight: 800;
    font-size: 80px;
}
.bh{
    line-height: 15px;
}
.n{
    margin-left: 30px;
    margin-top: 100px;
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}
.ty{
    font-size: 110px;
    height: 140px;
    font-weight: 800;
    margin-left: 30px;
}
#jh{
    font-size: 28px;
    width: 1200px;
    line-height: 50px;
    margin-top: 70px;
    margin-left: 80px;
}
.img17{
    width: 1280px;
    height: 720px;
}